In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MultiLabelBinarizer
multilabelbinarizer = MultiLabelBinarizer()

# Mexico

In [2]:
mexico = pd.read_excel('ProductionUnits_Mexico.xlsx')

In [3]:
mexico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Member Id (limit 100 characters)                                             0 non-null      float64
 1   Member Name (limit 500 characters)                                           0 non-null      float64
 2   Production Unit Name (limit 500 characters)                                  149 non-null    object
 3   Address 1 (limit 100 characters)                                             149 non-null    object
 4   City (limit 100 characters)                                                  148 non-null    object
 5   Zip Code (limit 50 characters)                                               149 non-null    object
 6   Country                                                                      149 non-null    object
 7   Phone - [Coutry Code] - [Area Code] - [Phone Number] (limit 100 characters)  149 non-null    object
 8   PU No. of workers                                                            103 non-null    float64
 9   Product Type (Apparel; Accessories, Footwear, Fabric Mills)                  149 non-null    object
dtypes: float64(3), object(7)
memory usage: 11.8+ KB

In [4]:
mexico.rename(columns={'Member Id (limit 100 characters)':'member_id',
       'Member Name (limit 500 characters)':'member_name',
       'Production Unit Name (limit 500 characters)':'pu_name',
       'Address 1 (limit 100 characters)':'pu_address',
        'City (limit 100 characters)':'pu_city',
       'Zip Code (limit 50 characters)':'pu_zipcode', 'Country':'pu_country',
       'Phone - [Coutry Code] - [Area Code] - [Phone Number] (limit 100 characters)':'phone',
       'PU No. of workers':'number_of_workers',
       'Product Type (Apparel; Accessories, Footwear, Fabric Mills)':'product_type'}, inplace=True)

In [5]:
mexico.drop(['phone', 'member_id', 'member_name', ], axis = 1, inplace=True)

In [6]:
mexico['tier_level1'] = 1
mexico['tier_level2'] = 0
mexico['tier_level3'] = 0

In [7]:
mexico = mexico[['pu_name','pu_country', 'pu_city', 'pu_zipcode', 'pu_address', 'product_type', 
                 'tier_level1','tier_level2','tier_level3', 'number_of_workers']]

In [8]:
mexico['issued_from'] = 'Mexico'

In [9]:
mexico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pu_name            149 non-null    object
 1   pu_country         149 non-null    object
 2   pu_city            148 non-null    object
 3   pu_zipcode         149 non-null    object
 4   pu_address         149 non-null    object
 5   product_type       149 non-null    object
 6   tier_level1        149 non-null    int64
 7   tier_level2        149 non-null    int64
 8   tier_level3        149 non-null    int64
 9   number_of_workers  103 non-null    float64
 10  issued_from        149 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 12.9+ KB

# Brazil

In [10]:
br = pd.read_excel('ProductionUnits_BR.xlsx')

In [11]:
br.rename(columns={'Production Unit Name (limit 500 characters)':'pu_name', 
                   'PU Number':'pu_number',
                   'Address 1 (limit 100 characters)':'pu_address', 
                   'City (limit 100 characters)':'pu_city',
                   'Zip Code (limit 50 characters)':'pu_zipcode', 
                   'Country':'pu_country',
                   'Phone - [Coutry Code] - [Area Code] - [Phone Number] (limit 100 characters)':'phone_number',
                   'PU No of Workers':'number_of_workers',
                   'Product Type (Apparel; Accessories, Footwear, Fabric Mills)':'product_type'}, inplace=True)

In [12]:
br.drop(['pu_number', 'phone_number'], axis = 1, inplace=True)

In [13]:
br['tier_level1'] = 1
br['tier_level2'] = 0
br['tier_level3'] = 0

In [14]:
br = br[['pu_name','pu_country', 'pu_city', 'pu_zipcode', 'pu_address', 
         'product_type', 'tier_level1','tier_level2','tier_level3', 'number_of_workers']]

In [15]:
br['issued_from'] = 'Brazil'

In [16]:
br.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pu_name            916 non-null    object
 1   pu_country         916 non-null    object
 2   pu_city            916 non-null    object
 3   pu_zipcode         915 non-null    object
 4   pu_address         915 non-null    object
 5   product_type       916 non-null    object
 6   tier_level1        916 non-null    int64
 7   tier_level2        916 non-null    int64
 8   tier_level3        916 non-null    int64
 9   number_of_workers  800 non-null    float64
 10  issued_from        916 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 78.8+ KB

# Europe

In [17]:
europe = pd.read_excel('ProductionUnits_Europe.xlsx')

In [18]:
europe.rename(columns={'Supplier Number':'suppl_number', 
                       'Supplier  Name':'suppl_name', 
                       'Suppl Status Europe':'suppl_status_europe',
                       'Production Unit':'pu_number', 
                       'Unnamed: 4':'pu_name', 
                       'PU Type':'pu_type', 
                       'PU Status':'pu_status', 
                       'PU Address':'pu_address',
                       'PU Zip Code':'pu_zipcode', 
                       'PU City':'pu_city', 
                       'PU Country':'pu_country', 
                       'Tier-1':'tier_level1', 
                       'Tier-2':'tier_level2', 
                       'Tier-3':'tier_level3',
                       'PU No of Workers':'number_of_workers', 
                       'PU Categories':'product_type'}, inplace=True)

In [19]:
europe.drop(['suppl_number', 'suppl_status_europe', 
             'suppl_name', 'pu_number', 'pu_type', 'pu_status'], axis = 1, inplace=True)

In [20]:
europe = europe[['pu_name','pu_country', 'pu_city', 'pu_zipcode', 'pu_address', 'product_type', 'tier_level1',
                 'tier_level2','tier_level3', 'number_of_workers']]

In [21]:
europe['tier_level1'] = europe['tier_level1'].fillna(0)
europe['tier_level2'] = europe['tier_level2'].fillna(0)
europe['tier_level3'] = europe['tier_level3'].fillna(0)

In [22]:
europe['tier_level1'] = np.where(europe.tier_level1 == 'X', 1, europe['tier_level1'])
europe['tier_level2'] = np.where(europe.tier_level2 == 'X', 1, europe['tier_level2'])
europe['tier_level3'] = np.where(europe.tier_level3 == 'X', 1, europe['tier_level3'])

In [23]:
europe.tier_level2.value_counts()

1    586
0    585
Name: tier_level2, dtype: int64

In [24]:
europe = europe.astype({"tier_level1":"int","tier_level2":"int", "tier_level3":"int"})

In [25]:
europe['issued_from'] = 'Europe'

In [26]:
europe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1171 entries, 0 to 1170
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pu_name            1171 non-null   object
 1   pu_country         1171 non-null   object
 2   pu_city            1171 non-null   object
 3   pu_zipcode         1163 non-null   object
 4   pu_address         1171 non-null   object
 5   product_type       1171 non-null   object
 6   tier_level1        1171 non-null   int64
 7   tier_level2        1171 non-null   int64
 8   tier_level3        1171 non-null   int64
 9   number_of_workers  1171 non-null   int64
 10  issued_from        1171 non-null   object
dtypes: int64(4), object(7)
memory usage: 100.8+ KB

# Consolidate DataSet

In [27]:
df = europe.copy()
df = df.append(mexico)
df = df.append(br)

In [28]:
data=df.copy()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2236 entries, 0 to 915
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pu_name            2236 non-null   object
 1   pu_country         2236 non-null   object
 2   pu_city            2235 non-null   object
 3   pu_zipcode         2227 non-null   object
 4   pu_address         2235 non-null   object
 5   product_type       2236 non-null   object
 6   tier_level1        2236 non-null   int64
 7   tier_level2        2236 non-null   int64
 8   tier_level3        2236 non-null   int64
 9   number_of_workers  2074 non-null   float64
 10  issued_from        2236 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 209.6+ KB

In [30]:
#Add column number_of_workers based on condition
def workers(row):
    if row['number_of_workers']>=0 and row['number_of_workers']<=250:
        return '0-250'
    if row['number_of_workers']>=251 and row['number_of_workers']<=500:
        return '251-500'
    if row['number_of_workers']>=501 and row['number_of_workers']<=750:
        return '501-750'
    if row['number_of_workers']>=751 and row['number_of_workers']<=1000:
        return '751-1000'
    else:
        return '>1000'

In [31]:
df['number_of_workers'] = df.apply(workers, axis=1)

In [32]:
df.number_of_workers.value_counts()

0-250       1321
>1000        496
251-500      220
501-750      123
751-1000      76
Name: number_of_workers, dtype: int64

In [33]:
def tier(row):
    if row['tier_level1']== 1 and row['tier_level2']== 1:
        return '1,2'
    if row['tier_level1'] == 1 and row['tier_level3']==1:
        return '1,3'
    if row['tier_level2'] == 1 and row['tier_level3']==1:
        return '2,3'
    if row['tier_level2']== 1 and row['tier_level3']!=1 and row['tier_level1']!=1:
        return '2'
    if row['tier_level3']== 1 and row['tier_level2']!=1 and row['tier_level1']!=1:
        return '3'
    if row['tier_level3']== 1 and row['tier_level2']==1 and row['tier_level1']==1:
        return '1, 2, 3'
    else:
        return '1'

In [34]:
df['tier_level'] = df.apply(tier, axis=1)

In [35]:
#df.drop(['tier_level'], axis = 1, inplace=True)
df.tier_level.value_counts()

1      1647
1,2     372
2       204
2,3      10
1,3       2
3         1
Name: tier_level, dtype: int64

In [36]:
df.drop(['tier_level1', 'tier_level2', 'tier_level3', 'issued_from'], axis = 1, inplace=True)

In [37]:
df = df[['pu_name','pu_country', 'pu_city', 'pu_zipcode', 'pu_address', 'product_type', 'tier_level',
                 'number_of_workers']]

# Export DataSet

In [38]:
#export data
df.to_excel(r'OAR_Report.xlsx', index = False)

# Renew DF for my needs

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2236 entries, 0 to 915
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pu_name            2236 non-null   object
 1   pu_country         2236 non-null   object
 2   pu_city            2235 non-null   object
 3   pu_zipcode         2227 non-null   object
 4   pu_address         2235 non-null   object
 5   product_type       2236 non-null   object
 6   tier_level1        2236 non-null   int64
 7   tier_level2        2236 non-null   int64
 8   tier_level3        2236 non-null   int64
 9   number_of_workers  2074 non-null   float64
 10  issued_from        2236 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 209.6+ KB

In [40]:
data.pu_country.value_counts().head(10)

Brazil        914
Bangladesh    329
Turkey        279
China         244
Mexico        136
India          63
Cambodia       53
Vietnam        42
Sri Lanka      37
Pakistan       31
Name: pu_country, dtype: int64

In [41]:
data.pu_city.value_counts().head(10)

Dhaka                 142
São Paulo              89
Gazipur                76
Blumenau               58
ISTANBUL               55
Istanbul               46
Phnom Penh             35
Taguaí                 30
Presidente Getúlio     27
Nova Serrana           26
Name: pu_city, dtype: int64

In [42]:
data.product_type.value_counts()

Apparel                                                        858
Footwear                                                       145
Circular Knit                                                   90
Acessories                                                      68
Outerwear                                                       57
                                                              ...
Blouses, Jeans, Scarves, Shirts, Skirts, Tailored, Trousers      1
Accessories, Dresses, Scarves, Ties                              1
Dresses, Jeans, Outerwear, Shirts, Skirts, Trousers              1
Umbrella                                                         1
Legwear, Underwear                                               1
Name: product_type, Length: 258, dtype: int64

In [43]:
data['product_type'] = data['product_type'].apply(lambda x: str(x).replace(' ',''))
data['product_type'] = data['product_type'].apply(lambda x:x.split(','))
data['count_product_type'] = data['product_type'].apply(lambda x: len(x))

In [44]:
multilabel_encoded_results = multilabelbinarizer.fit_transform(data['product_type'])
# Classes created in MultiLabel data after Encoding
multilabelbinarizer.classes_

array(['Accessories', 'Acessories', 'Apparel', 'Baby', 'Bags', 'Belts',
       'Blouses', 'CircularKnit', 'Dresses', 'Eyewear', 'FlatKnit',
       'Footwear', 'Gloves', 'Hats', 'Jeans', 'Jewellery', 'Legwear',
       'Nightwear', 'Outerwear', 'Scarves', 'Shirts', 'Skirts',
       'Swimwear', 'Tailored', 'Ties', 'Trousers', 'Umbrella',
       'Underwear'], dtype=object)

In [45]:
data.head()

,pu_name,pu_country,pu_city,pu_zipcode,pu_address,product_type,tier_level1,tier_level2,tier_level3,number_of_workers,issued_from,count_product_type
0,Tonglu Linghui Knitting,China,Hangzhou,311500,Baishui road,"[Accessories, CircularKnit, FlatKnit, Gloves, ...",1,0,0,70.0,Europe,6
1,GuangZhou Bangqi Leather Co.Ltd.,China,Guangzhou,510800,"No 83，Xiangxing Road,Shiling Town,Huadu Distri...",[Bags],1,0,0,208.0,Europe,1
2,"Taizhou Shenlan Optical Co., Ltd",China,Linhai City,318016,"Banyang, Duqiao Town","[Accessories, Eyewear]",1,1,0,92.0,Europe,2
3,"Xize Fashion Accessories CO., LTD",China,Yiwu,322002,Tashan Road,"[Accessories, Gloves, Hats, Scarves]",1,0,0,257.0,Europe,4
4,Huaian Hengtong Gloves & Cap Co. Ltd,China,Huai An City,223100,"No 12, Chaohu Rd. East 1 Road, Industrial Park...","[Accessories, Gloves, Hats, Scarves]",1,1,0,142.0,Europe,4

In [50]:
# Converting an Numpy Array into a pandas dataframe
df_multilabel_data = pd.DataFrame(multilabel_encoded_results, columns=multilabelbinarizer.classes_)
# Viewing few rows of data
df_multilabel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2236 entries, 0 to 2235
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Accessories   2236 non-null   int64
 1   Acessories    2236 non-null   int64
 2   Apparel       2236 non-null   int64
 3   Baby          2236 non-null   int64
 4   Bags          2236 non-null   int64
 5   Belts         2236 non-null   int64
 6   Blouses       2236 non-null   int64
 7   CircularKnit  2236 non-null   int64
 8   Dresses       2236 non-null   int64
 9   Eyewear       2236 non-null   int64
 10  FlatKnit      2236 non-null   int64
 11  Footwear      2236 non-null   int64
 12  Gloves        2236 non-null   int64
 13  Hats          2236 non-null   int64
 14  Jeans         2236 non-null   int64
 15  Jewellery     2236 non-null   int64
 16  Legwear       2236 non-null   int64
 17  Nightwear     2236 non-null   int64
 18  Outerwear     2236 non-null   int64
 19  Scarves       2236 non-null   int64
 20  Shirts        2236 non-null   int64
 21  Skirts        2236 non-null   int64
 22  Swimwear      2236 non-null   int64
 23  Tailored      2236 non-null   int64
 24  Ties          2236 non-null   int64
 25  Trousers      2236 non-null   int64
 26  Umbrella      2236 non-null   int64
 27  Underwear     2236 non-null   int64
dtypes: int64(28)
memory usage: 489.2 KB

In [56]:
df_multilabel_data.head()

,Accessories,Acessories,Apparel,Baby,Bags,Belts,Blouses,CircularKnit,Dresses,Eyewear,...,Outerwear,Scarves,Shirts,Skirts,Swimwear,Tailored,Ties,Trousers,Umbrella,Underwear
0,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2236 entries, 0 to 915
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pu_name             2236 non-null   object
 1   pu_country          2236 non-null   object
 2   pu_city             2235 non-null   object
 3   pu_zipcode          2227 non-null   object
 4   pu_address          2235 non-null   object
 5   product_type        2236 non-null   object
 6   tier_level1         2236 non-null   int64
 7   tier_level2         2236 non-null   int64
 8   tier_level3         2236 non-null   int64
 9   number_of_workers   2074 non-null   float64
 10  issued_from         2236 non-null   object
 11  count_product_type  2236 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 307.1+ KB

In [55]:
df_multilabel_data.index.is_unique

True

In [58]:
data = data.join( df_multilabel_data)

In [67]:
data.count_product_type.value_counts()

1     1463
2      125
3      110
4      102
5       85
6       62
7       54
8       47
10      32
9       32
11      30
17      20
16      19
13      19
12      18
18      10
14       8
Name: count_product_type, dtype: int64

In [66]:
data.drop('Acessories', axis = 1, inplace = True)

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2236 entries, 0 to 1170
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pu_name             2236 non-null   object
 1   pu_country          2236 non-null   object
 2   pu_city             2235 non-null   object
 3   pu_zipcode          2227 non-null   object
 4   pu_address          2235 non-null   object
 5   product_type        2236 non-null   object
 6   tier_level1         2236 non-null   int64
 7   tier_level2         2236 non-null   int64
 8   tier_level3         2236 non-null   int64
 9   number_of_workers   2074 non-null   float64
 10  issued_from         2236 non-null   object
 11  count_product_type  2236 non-null   int64
 12  Accessories         2236 non-null   int64
 13  Apparel             2236 non-null   int64
 14  Baby                2236 non-null   int64
 15  Bags                2236 non-null   int64
 16  Belts               2236 non-null   int64
 17  Blouses             2236 non-null   int64
 18  CircularKnit        2236 non-null   int64
 19  Dresses             2236 non-null   int64
 20  Eyewear             2236 non-null   int64
 21  FlatKnit            2236 non-null   int64
 22  Footwear            2236 non-null   int64
 23  Gloves              2236 non-null   int64
 24  Hats                2236 non-null   int64
 25  Jeans               2236 non-null   int64
 26  Jewellery           2236 non-null   int64
 27  Legwear             2236 non-null   int64
 28  Nightwear           2236 non-null   int64
 29  Outerwear           2236 non-null   int64
 30  Scarves             2236 non-null   int64
 31  Shirts              2236 non-null   int64
 32  Skirts              2236 non-null   int64
 33  Swimwear            2236 non-null   int64
 34  Tailored            2236 non-null   int64
 35  Ties                2236 non-null   int64
 36  Trousers            2236 non-null   int64
 37  Umbrella            2236 non-null   int64
 38  Underwear           2236 non-null   int64
dtypes: float64(1), int64(31), object(7)
memory usage: 778.8+ KB

In [69]:
data.to_excel(r'OAR_Report_more_labels.xlsx', index = False)